.logout-logo{
    color: #fff;
    font-size: .8vw;
}

.logout-logo:hover{
    color: red;
}

.to-planner:hover{
    background-color: #3a3a3a;
    color: #fff;
}

.to-todolist:hover{
    background-color: #3a3a3a;
    color: #fff;
}



@media screen and (max-width: 992px) {
    div {
      display: none;
    }
  }