.card-bottom{
    height: 35vh;
}

.card-top{
    height: 21vh;
}

.logout-logo{
    color: #fff;
    font-size: .8vw;
}

.logout-logo:hover{
    color: red;
}

.profile-bottom{
    height: 65%;
}

.profile-button{
    color: #fff;
    font-size: .9vw;
}

.profile-button:hover{
    color: greenyellow;
}

.profile-head{
    height: 35%;
}

.profile-info{
    font-size: 1vw;
}

.profile-name{
    font-size: 1.5vw;
    font-weight: bold;
}

.profile-picture{
    font-size: 12vw;
}

.to-planner:hover{
    background-color: #3a3a3a;
    color: #fff;
}

.to-todolist:hover{
    background-color: #3a3a3a;
    color: #fff;
}



@media screen and (max-width: 992px) {
    div {
      display: none;
    }
  }